select {
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 2rem;
    padding-inline: 0.25rem;
    border-radius: 5px;
}

input {
    color: white;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    height: 2rem;
}
input::placeholder {
    color: rgb(134, 134, 134);
}

#submit {
    background-color: rgb(29, 29, 29);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
#submit:hover {
    background-color: rgb(36, 36, 36);
}
#submit:active {
    background-color: rgb(40, 40, 40);
}